# World Cup Goal Scorer Live Updates

In [124]:
# Import url and read in the html

import pandas as pd
url = 'https://www.thesoccerworldcups.com/world_cups/2022_top_scorers.php'

In [125]:
# Find out where the table is located
tables = pd.read_html(url)
len(tables)

1

In [126]:
df = tables[0]
df

      0                1      2      3             4              5   6   7
0   NaN           Player  Goals  Games  Goal Average  National Team NaN NaN
1   NaN              NaN    NaN    NaN           NaN            NaN NaN NaN
2   1.0      Bukayo Saka      2      1          2.00        England NaN NaN
3   NaN     Mehdi Taremi      2      1          2.00           Iran NaN NaN
4   NaN   Enner Valencia      2      1          2.00        Ecuador NaN NaN
5   NaN              NaN    NaN    NaN           NaN            NaN NaN NaN
6   4.0  Jude Bellingham      1      1          1.00        England NaN NaN
7   NaN       Cody Gakpo      1      1          1.00        Holland NaN NaN
8   NaN    Jack Grealish      1      1          1.00        England NaN NaN
9   NaN    Davy Klaassen      1      1          1.00        Holland NaN NaN
10  NaN  Marcus Rashford      1      1          1.00        England NaN NaN
11  NaN  Raheem Sterling      1      1          1.00        England NaN NaN

In [127]:
# Cleaning the data
# Get rid of NaN columns
df = df.dropna(axis=1, how='all')

# Reset column names
new_header = df.iloc[0]
df.columns = new_header
df = df.drop(0)
df

0   NaN           Player Goals Games Goal Average National Team
1   NaN              NaN   NaN   NaN          NaN           NaN
2   1.0      Bukayo Saka     2     1         2.00       England
3   NaN     Mehdi Taremi     2     1         2.00          Iran
4   NaN   Enner Valencia     2     1         2.00       Ecuador
5   NaN              NaN   NaN   NaN          NaN           NaN
6   4.0  Jude Bellingham     1     1         1.00       England
7   NaN       Cody Gakpo     1     1         1.00       Holland
8   NaN    Jack Grealish     1     1         1.00       England
9   NaN    Davy Klaassen     1     1         1.00       Holland
10  NaN  Marcus Rashford     1     1         1.00       England
11  NaN  Raheem Sterling     1     1         1.00       England

In [132]:
# Get rid of rows that are empty, and weird columns
df= df[['Player','Goals','Games','Goal Average','National Team']]
updated_df = df[df['Player'].notna()]
updated_df

0            Player Goals Games Goal Average National Team
2       Bukayo Saka     2     1         2.00       England
3      Mehdi Taremi     2     1         2.00          Iran
4    Enner Valencia     2     1         2.00       Ecuador
6   Jude Bellingham     1     1         1.00       England
7        Cody Gakpo     1     1         1.00       Holland
8     Jack Grealish     1     1         1.00       England
9     Davy Klaassen     1     1         1.00       Holland
10  Marcus Rashford     1     1         1.00       England
11  Raheem Sterling     1     1         1.00       England

In [ ]:
updated_df.to_csv('fifagoals.csv', index=False)