# World Cup Goal Scorer Live Updates

In [1]:
# Import url and read in the html

import pandas as pd
url = 'https://www.thesoccerworldcups.com/world_cups/2022_top_scorers.php'

In [2]:
# Find out where the table is located
tables = pd.read_html(url)
len(tables)

1

In [3]:
df = tables[0]
df

      0                1      2      3             4              5   6   7
0   NaN           Player  Goals  Games  Goal Average  National Team NaN NaN
1   NaN              NaN    NaN    NaN           NaN            NaN NaN NaN
2   1.0      Bukayo Saka      2      1          2.00        England NaN NaN
3   NaN     Mehdi Taremi      2      1          2.00           Iran NaN NaN
4   NaN   Enner Valencia      2      1          2.00        Ecuador NaN NaN
5   NaN              NaN    NaN    NaN           NaN            NaN NaN NaN
6   4.0      Gareth Bale      1      1          1.00          Wales NaN NaN
7   NaN  Jude Bellingham      1      1          1.00        England NaN NaN
8   NaN       Cody Gakpo      1      1          1.00        Holland NaN NaN
9   NaN    Jack Grealish      1      1          1.00        England NaN NaN
10  NaN    Davy Klaassen      1      1          1.00        Holland NaN NaN
11  NaN  Marcus Rashford      1      1          1.00        England NaN NaN
12  NaN  Raheem Sterling      1      1          1.00        England NaN NaN
13  NaN         Tim Weah      1      1          1.00            USA NaN NaN

In [4]:
# Cleaning the data
# Get rid of NaN columns
df = df.dropna(axis=1, how='all')

# Reset column names
new_header = df.iloc[0]
df.columns = new_header
df = df.drop(0)
df

0   NaN           Player Goals Games Goal Average National Team
1   NaN              NaN   NaN   NaN          NaN           NaN
2   1.0      Bukayo Saka     2     1         2.00       England
3   NaN     Mehdi Taremi     2     1         2.00          Iran
4   NaN   Enner Valencia     2     1         2.00       Ecuador
5   NaN              NaN   NaN   NaN          NaN           NaN
6   4.0      Gareth Bale     1     1         1.00         Wales
7   NaN  Jude Bellingham     1     1         1.00       England
8   NaN       Cody Gakpo     1     1         1.00       Holland
9   NaN    Jack Grealish     1     1         1.00       England
10  NaN    Davy Klaassen     1     1         1.00       Holland
11  NaN  Marcus Rashford     1     1         1.00       England
12  NaN  Raheem Sterling     1     1         1.00       England
13  NaN         Tim Weah     1     1         1.00           USA

In [5]:
# Get rid of rows that are empty, and weird columns
df= df[['Player','Goals','Games','Goal Average','National Team']]
df = df[df['Player'].notna()]
df.Goals = df.Goals.astype(int)
df.Games = df.Games.astype(int)
df['Goal Average'] = df['Goal Average'].astype(float)
df.dtypes

0
Player            object
Goals              int64
Games              int64
Goal Average     float64
National Team     object
dtype: object

In [6]:
updated_df = df.groupby('National Team').Goals.sum().sort_values(ascending=False).to_frame(name='count').reset_index()
updated_df

  National Team  count
0       England      6
1       Ecuador      2
2       Holland      2
3          Iran      2
4           USA      1
5         Wales      1

In [169]:
updated_df.to_csv('fifagoals.csv', index=False)

# https://xinyitu.github.io/auto-update-graph-datawrapper/fifagoals.csv