# World Cup Goal Scorer Live Updates

In [1]:
# Import url and read in the html

import pandas as pd
url = 'https://www.thesoccerworldcups.com/world_cups/2022_top_scorers.php'

In [2]:
# Find out where the table is located
tables = pd.read_html(url)

In [3]:
df = tables[0]

In [4]:
# Cleaning the data
# Get rid of NaN columns

# Reset column names
new_header = df.iloc[0]
df.columns = new_header
df = df.drop(0)
df

0   NaN            Player Goals Games Goal Average National Team  NaN  NaN
1   NaN               NaN   NaN   NaN          NaN           NaN  NaN  NaN
2   1.0    Olivier Giroud     2     1         2.00        France  NaN  NaN
3   NaN       Bukayo Saka     2     1         2.00       England  NaN  NaN
4   NaN      Mehdi Taremi     2     1         2.00          Iran  NaN  NaN
5   NaN     Ferran Torres     2     1         2.00         Spain  NaN  NaN
6   NaN    Enner Valencia     2     1         2.00       Ecuador  NaN  NaN
7   NaN               NaN   NaN   NaN          NaN           NaN  NaN  NaN
8   6.0  Salem Al-Dawsari     1     1         1.00  Saudi Arabia  NaN  NaN
9   NaN   Saleh Al-Shehri     1     1         1.00  Saudi Arabia  NaN  NaN
10  NaN      Takuma Asano     1     1         1.00         Japan  NaN  NaN
11  NaN     Marco Asensio     1     1         1.00         Spain  NaN  NaN
12  NaN       Gareth Bale     1     1         1.00         Wales  NaN  NaN
13  NaN   Michy Batshuayi     1     1         1.00       Belgium  NaN  NaN
14  NaN   Jude Bellingham     1     1         1.00       England  NaN  NaN
15  NaN        Ritsu Doan     1     1         1.00         Japan  NaN  NaN
16  NaN        Cody Gakpo     1     1         1.00       Holland  NaN  NaN
17  NaN              Gavi     1     1         1.00         Spain  NaN  NaN
18  NaN     Craig Goodwin     1     1         1.00     Australia  NaN  NaN
19  NaN     Jack Grealish     1     1         1.00       England  NaN  NaN
20  NaN    Ilkay Gündogan     1     1         1.00       Germany  NaN  NaN
21  NaN     Davy Klaassen     1     1         1.00       Holland  NaN  NaN
22  NaN     Kylian Mbappé     1     1         1.00        France  NaN  NaN
23  NaN      Lionel Messi     1     1         1.00     Argentina  NaN  NaN
24  NaN     Álvaro Morata     1     1         1.00         Spain  NaN  NaN
25  NaN         Dani Olmo     1     1         1.00         Spain  NaN  NaN
26  NaN     Adrien Rabiot     1     1         1.00        France  NaN  NaN
27  NaN   Marcus Rashford     1     1         1.00       England  NaN  NaN
28  NaN      Carlos Soler     1     1         1.00         Spain  NaN  NaN
29  NaN   Raheem Sterling     1     1         1.00       England  NaN  NaN
30  NaN          Tim Weah     1     1         1.00           USA  NaN  NaN

In [6]:
# Get rid of rows that are empty, and weird columns
df= df[['Player','Goals','Games','Goal Average','National Team']]
df = df[df['Player'].notna()]
df.Goals = df.Goals.astype(int)
df.Games = df.Games.astype(int)
df['Goal Average'] = df['Goal Average'].astype(float)
df.dtypes

0
Player            object
Goals              int64
Games              int64
Goal Average     float64
National Team     object
dtype: object

In [7]:
updated_df = df.groupby('National Team').Goals.sum().sort_values(ascending=False).to_frame(name='count').reset_index()
updated_df

   National Team  count
0          Spain      7
1        England      6
2         France      4
3        Ecuador      2
4        Holland      2
5           Iran      2
6          Japan      2
7   Saudi Arabia      2
8      Argentina      1
9      Australia      1
10       Belgium      1
11       Germany      1
12           USA      1
13         Wales      1

In [169]:
updated_df.to_csv('fifagoals.csv', index=False)

# https://xinyitu.github.io/auto-update-graph-datawrapper/fifagoals.csv