# World Cup Goal Scorer Live Updates

In [2]:
# Import url and read in the html

import pandas as pd
url = 'https://www.thesoccerworldcups.com/world_cups/2022_top_scorers.php'

In [3]:
# Find out where the table is located
tables = pd.read_html(url)

In [4]:
df = tables[0]

In [5]:
# Cleaning the data
# Get rid of NaN columns

# Reset column names
new_header = df.iloc[0]
df.columns = new_header
df = df.drop(0)
df

0    NaN               Player Goals Games Goal Average National Team  NaN  NaN
1    NaN                  NaN   NaN   NaN          NaN           NaN  NaN  NaN
2    1.0        Kylian Mbappé     3     2         1.50        France  NaN  NaN
3    NaN       Enner Valencia     3     2         1.50       Ecuador  NaN  NaN
4    NaN                  NaN   NaN   NaN          NaN           NaN  NaN  NaN
5    3.0           Cody Gakpo     2     2         1.00       Holland  NaN  NaN
6    NaN       Olivier Giroud     2     2         1.00        France  NaN  NaN
7    NaN      Andrej Kramarić     2     2         1.00       Croatia  NaN  NaN
8    NaN         Lionel Messi     2     2         1.00     Argentina  NaN  NaN
9    NaN        Álvaro Morata     2     2         1.00         Spain  NaN  NaN
10   NaN          Richarlison     2     1         2.00        Brazil  NaN  NaN
11   NaN          Bukayo Saka     2     2         1.00       England  NaN  NaN
12   NaN         Mehdi Taremi     2     2         1.00          Iran  NaN  NaN
13   NaN        Ferran Torres     2     2         1.00         Spain  NaN  NaN
14   NaN                  NaN   NaN   NaN          NaN           NaN  NaN  NaN
15  12.0    Zakaria Aboukhlal     1     1         1.00       Morocco  NaN  NaN
16   NaN     Salem Al-Dawsari     1     2         0.50  Saudi Arabia  NaN  NaN
17   NaN      Saleh Al-Shehri     1     2         0.50  Saudi Arabia  NaN  NaN
18   NaN         Takuma Asano     1     2         0.50         Japan  NaN  NaN
19   NaN        Marco Asensio     1     2         0.50         Spain  NaN  NaN
20   NaN           Andre Ayew     1     1         1.00         Ghana  NaN  NaN
21   NaN          Gareth Bale     1     2         0.50         Wales  NaN  NaN
22   NaN      Michy Batshuayi     1     2         0.50       Belgium  NaN  NaN
23   NaN      Jude Bellingham     1     2         0.50       England  NaN  NaN
24   NaN         Osman Bukari     1     1         1.00         Ghana  NaN  NaN
25   NaN      Rouzbeh Cheshmi     1     2         0.50          Iran  NaN  NaN
26   NaN  Andreas Christensen     1     2         0.50       Denmark  NaN  NaN
27   NaN      Alphonso Davies     1     2         0.50        Canada  NaN  NaN
28   NaN          Boulaye Dia     1     2         0.50       Senegal  NaN  NaN
29   NaN       Famara Diéhiou     1     1         1.00       Senegal  NaN  NaN
30   NaN          Bamba Dieng     1     2         0.50       Senegal  NaN  NaN
31   NaN           Ritsu Doan     1     2         0.50         Japan  NaN  NaN
32   NaN        Mitchell Duke     1     2         0.50     Australia  NaN  NaN
33   NaN         Breel Embolo     1     1         1.00   Switzerland  NaN  NaN
34   NaN           João Félix     1     1         1.00      Portugal  NaN  NaN
35   NaN       Enzo Fernandez     1     2         0.50     Argentina  NaN  NaN
36   NaN       Keysher Fuller     1     2         0.50    Costa Rica  NaN  NaN
37   NaN      Niclas Füllkrug     1     2         0.50       Germany  NaN  NaN
38   NaN                 Gavi     1     2         0.50         Spain  NaN  NaN
39   NaN        Craig Goodwin     1     2         0.50     Australia  NaN  NaN
40   NaN        Jack Grealish     1     2         0.50       England  NaN  NaN
41   NaN       Ilkay Gündogan     1     2         0.50       Germany  NaN  NaN
42   NaN        Davy Klaassen     1     2         0.50       Holland  NaN  NaN
43   NaN          Rafael Leão     1     1         1.00      Portugal  NaN  NaN
44   NaN   Robert Lewandowski     1     2         0.50        Poland  NaN  NaN
45   NaN         Marko Livaja     1     2         0.50       Croatia  NaN  NaN
46   NaN          Lovro Majer     1     2         0.50       Croatia  NaN  NaN
47   NaN     Mohammed Muntari     1     2         0.50         Qatar  NaN  NaN
48   NaN            Dani Olmo     1     2         0.50         Spain  NaN  NaN
49   NaN        Adrien Rabiot     1     2         0.50        France  NaN  NaN
50   NaN      Marcus Rashford     1     2         0.50       England  NaN  NaN
51   NaN       Ramin Rezaeian     1     1         1.00          Iran  NaN  NaN
52   NaN    Cristiano Ronaldo     1     1         1.00      Portugal  NaN  NaN
53   NaN    Abdelhamid Sabiri     1     2         0.50       Morocco  NaN  NaN
54   NaN         Carlos Soler     1     1         1.00         Spain  NaN  NaN
55   NaN      Raheem Sterling     1     2         0.50       England  NaN  NaN
56   NaN             Tim Weah     1     2         0.50           USA  NaN  NaN
57   NaN      Piotr Zieliński     1     2         0.50        Poland  NaN  NaN

In [6]:
# Get rid of rows that are empty, and weird columns
df= df[['Player','Goals','Games','Goal Average','National Team']]
df = df[df['Player'].notna()]
df.Goals = df.Goals.astype(int)
df.Games = df.Games.astype(int)
df['Goal Average'] = df['Goal Average'].astype(float)
df.dtypes

0
Player            object
Goals              int64
Games              int64
Goal Average     float64
National Team     object
dtype: object

In [7]:
updated_df = df.groupby('National Team').Goals.sum().sort_values(ascending=False).to_frame(name='count').reset_index()
updated_df

   National Team  count
0          Spain      8
1        England      6
2         France      6
3           Iran      4
4        Croatia      4
5      Argentina      3
6        Senegal      3
7       Portugal      3
8        Holland      3
9        Ecuador      3
10         Japan      2
11        Brazil      2
12  Saudi Arabia      2
13       Morocco      2
14        Poland      2
15     Australia      2
16         Ghana      2
17       Germany      2
18    Costa Rica      1
19       Denmark      1
20        Canada      1
21         Qatar      1
22       Belgium      1
23   Switzerland      1
24           USA      1
25         Wales      1

In [8]:
flag = pd.read_csv('Country flag lookup table - Sheet1.csv')
flag

               Country  Code
0          Afghanistan  :af:
1        Aland Islands  :ax:
2              Albania  :al:
3              Algeria  :dz:
4       American Samoa  :as:
..                 ...   ...
245  Wallis and Futuna  :wf:
246     Western Sahara  :eh:
247              Yemen  :ye:
248             Zambia  :zm:
249           Zimbabwe  :zw:

[250 rows x 2 columns]

In [9]:
flag.columns

Index(['Country', 'Code'], dtype='object')

In [10]:
updated_df = updated_df.merge(flag, how='left',left_on='National Team', right_on='Country')
updated_df['Team']=updated_df['Code'] +" "+updated_df['Country']
updated_df

   National Team  count       Country      Code               Team
0          Spain      8         Spain      :es:         :es: Spain
1        England      6       England  :gb-eng:   :gb-eng: England
2         France      6        France      :fr:        :fr: France
3           Iran      4          Iran      :ir:          :ir: Iran
4        Croatia      4       Croatia      :hr:       :hr: Croatia
5      Argentina      3     Argentina      :ar:     :ar: Argentina
6        Senegal      3       Senegal      :sn:       :sn: Senegal
7       Portugal      3      Portugal      :pt:      :pt: Portugal
8        Holland      3       Holland      :nl:       :nl: Holland
9        Ecuador      3       Ecuador      :ec:       :ec: Ecuador
10         Japan      2         Japan      :jp:         :jp: Japan
11        Brazil      2        Brazil      :br:        :br: Brazil
12  Saudi Arabia      2  Saudi Arabia      :sa:  :sa: Saudi Arabia
13       Morocco      2       Morocco      :ma:       :ma: Morocco
14        Poland      2        Poland      :pl:        :pl: Poland
15     Australia      2     Australia      :au:     :au: Australia
16         Ghana      2         Ghana      :gh:         :gh: Ghana
17       Germany      2       Germany      :de:       :de: Germany
18    Costa Rica      1    Costa Rica      :cr:    :cr: Costa Rica
19       Denmark      1       Denmark      :dk:       :dk: Denmark
20        Canada      1        Canada      :ca:        :ca: Canada
21         Qatar      1         Qatar      :qa:         :qa: Qatar
22       Belgium      1       Belgium      :be:       :be: Belgium
23   Switzerland      1   Switzerland      :ch:   :ch: Switzerland
24           USA      1           USA      :us:           :us: USA
25         Wales      1         Wales  :gb-wls:     :gb-wls: Wales

In [11]:
updated_df.to_csv('fifagoals.csv', index=False)

# https://xinyitu.github.io/auto-update-graph-datawrapper/fifagoals.csv